.edit-sub-task {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 1rem 1rem;
    box-shadow: $basic-shadow;

    .save-changes {
        margin-right: 1rem;
    }
}
