.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    div {
        align-items: center;
        display: flex;
    }

    .edit-task i {
        font-size: 1.25rem;
    }
}
