.task-container {
    position: relative;

    .task-data-table {
        width: 100%;

        .select-task {
            width: 3rem;
        }

        .task-row {
            &.dragged {
                opacity: .5;
            }
        }
    }
}
