$active-filter-border-color: white;

.active-filter {
    margin-right: 2rem;
    .mdl-checkbox__box-outline {
        border-color: $active-filter-border-color;
        background: $active-filter-border-color;
    }
}
